@charset "ISO-8859-1";
body{
	background-image: url("adminbg.jpeg"); background-size:cover;
}
.aside{
	height:300px; 
	width:40%;
	margin-top:10%;
	margin-left:55%; 
	border:0px solid tomato;
	
}
input{
	height:45px; 
	width:60%; 
	font-family: 'Libre Baskerville', serif; 
	font-size:18px; 
	color:#FFFFFF; 
	border:2px solid #38C8FD;
	background-color:	#38C8FD;
	margin-left:9.5%; 
	margin-top:5px;
	float:left;
	border-radius: 5px;
	padding-left:1%;
	font-weight: 550;
	
}
img.eye{
	height:25px; 
	width:30px; 
	border:0px solid green; 
	margin-top:20px; 
	margin-left:-10%;  
	float:left;
	opacity:0.5%;
	cursor:pointer;
}
.label{
	height: 20px;
	width: 60%;
	border:0px solid green;
	margin-top:13px;
	margin-left:9.5%;
	padding-left:10px;
	padding-top:5px;
	font-family: 'Libre Baskerville', serif; 
	font-size: 16px;
	color:#003B68; 
	font-weight:600;
	float:left;
	
}
.cont{
	height:45px; 
	width:30%; 
	font-family: 'Libre Baskerville', serif; 
	font-size:15px; 
	color:#38C8FD; 
	border:2px solid  #EEEEEE;
	margin-left:25%; 
	margin-top:10%;
	float:left;
	background: #0E5686;
	border-radius:5px;
	cursor: pointer;
	font-weight: 600;
	
}