@charset "ISO-8859-1";
.header{
	height:150px; width:100%; background-color: #454545; top:0px; right:0px; position:fixed;
}
.navbar{
	height:120px; width:100%; background-color: #303030; top:0px; right:0px; margin-top:40px;
}
.header_cmpny{
	height:120px; width:150px; margin-top:10px; margin-left:32px; border:1px solid ivory; 
}
.cmpny_name{
	height:50px; width:130px; margin-top:30px; margin-left:9px; color:#FFFFFF;	border:1px solid ivory;
}
.cmpny_name p{
	margin-left:20px; font-family:BrandonGortesque,Helvetica Neue,Helvetica,Arial,sans-serif; font-size:16px; font-weight:700;
}
.caption{
	font-family:BrandonGortesque,Helvetica Neue,Helvetica,Arial,sans-serif; font-size:10px; font-weight:700; color:aqua;
}
.Signup input{
	height:30px; width:300px; margin-top:180px; border: none; color: ivory;
}
.Signup select{
	height:30px; width:300px; 
}